<!DOCTYPE html>
<html lang="fr">

<!-- Mirrored from geeksui.codescandy.com/geeks/pages/blog.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 24 Jan 2024 13:29:47 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Amélioration de la compatibilité avec IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Optimisation SEO -->
    <title>Plateforme des Jeunes Ain Sebaa - Amélioration du Revenu et Inclusion Économique des Jeunes</title>
    <meta name="description" content="Plateforme des Jeunes Ain Sebaa s'engage dans l'amélioration du revenu et l'inclusion économique des jeunes. Rejoignez-nous pour faire la différence.">
    <meta name="robots" content="index, follow, max-image-preview:large">
    <link rel="canonical" href="https://plateformedesjeunes-ainsebaa.ma">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="Plateforme des Jeunes Ain Sebaa - Amélioration du Revenu et Inclusion Économique des Jeunes">
    <meta property="og:description" content="Plateforme des Jeunes Ain Sebaa s'engage dans l'amélioration du revenu et l'inclusion économique des jeunes. Rejoignez-nous pour faire la différence.">
    <meta property="og:url" content="https://www.facebook.com/plateformedesjeunes.as">
    <meta property="og:site_name" content="Plateforme des Jeunes Ain Sebaa">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:image" content="https://scontent.fcmn2-2.fna.fbcdn.net/v/t39.30808-6/277250841_298291872425465_2706695951558468858_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeE1KGfknEMBfDvIhRVglaRBZlQGzk7xNK5mVAbOTvE0rqUZU2kk6oWDv2XGAg8i1jzRaYWsmQPIjeOeoQdDixoc&_nc_ohc=WVgXaozbJTgAX9N_XBG&_nc_ht=scontent.fcmn2-2.fna&oh=00_AfAxstddXsy3iets1Km3UanRB38ZDPbcgFvcHSZRv9TxdA&oe=65B6B94D">

    <!-- Lien vers Instagram -->
    <meta property="og:instagram" content="https://www.instagram.com/plateformedesjeunes.as/?igshid=YmMyMTA2M2Y%3D">

    <!-- Lien vers LinkedIn -->
    <meta name="linkedin:site" content="Plateforme des Jeunes Ain Sebaa">
    <meta name="linkedin:description" content="Plateforme des Jeunes Ain Sebaa s'engage dans l'amélioration du revenu et l'inclusion économique des jeunes. Rejoignez-nous pour faire la différence.">
    <meta name="linkedin:image" content="https://scontent.fcmn2-2.fna.fbcdn.net/v/t39.30808-6/277250841_298291872425465_2706695951558468858_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeE1KGfknEMBfDvIhRVglaRBZlQGzk7xNK5mVAbOTvE0rqUZU2kk6oWDv2XGAg8i1jzRaYWsmQPIjeOeoQdDixoc&_nc_ohc=WVgXaozbJTgAX9N_XBG&_nc_ht=scontent.fcmn2-2.fna&oh=00_AfAxstddXsy3iets1Km3UanRB38ZDPbcgFvcHSZRv9TxdA&oe=65B6B94D">
    <meta name="linkedin:owner" content="plateforme des jeunes - AIN SBAA">

    <!-- Ajout d'une image pour le partage social (taille recommandée : 1200x630 pixels) -->
    <meta property="og:image" content="~/assets/images/logo143.jpeg">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@Association l'Heure Joyeuse">
    <meta name="twitter:title" content="Plateforme des Jeunes Ain Sebaa">
    <meta name="twitter:description" content="Plateforme des Jeunes Ain Sebaa s'engage dans l'amélioration du revenu et l'inclusion économique des jeunes. Rejoignez-nous pour faire la différence.">
    <meta name="twitter:image" content="https://scontent.fcmn2-2.fna.fbcdn.net/v/t39.30808-6/277250841_298291872425465_2706695951558468858_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeE1KGfknEMBfDvIhRVglaRBZlQGzk7xNK5mVAbOTvE0rqUZU2kk6oWDv2XGAg8i1jzRaYWsmQPIjeOeoQdDixoc&_nc_ohc=WVgXaozbJTgAX9N_XBG&_nc_ht=scontent.fcmn2-2.fna&oh=00_AfAxstddXsy3iets1Km3UanRB38ZDPbcgFvcHSZRv9TxdA&oe=65B6B94D">

    <!-- Ajout de la balise meta pour la compatibilité mobile -->
    <meta name="format-detection" content="telephone=no">

    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/logo143.jpeg">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/Design/css/themeblog.min.css">

    <!-- Libs CSS -->
    <link href="~/assets/libs/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet" />
</head>
<body class="bg-white">
    <main>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid px-0">
                <a class="navbar-brand" href="https://geeksui.codescandy.com/geeks/index.html"><img src="~/assets/images/2bPAhqAjyE8wVsGnWVb4MXZnF0A.svg" class="mb-1" alt="Plateforme des jeunes Ain Sebaa - Amélioration du Revenu et Inclusion Économique des Jeunes" style="width:80px;height:80px;"></a>
                <div class="order-lg-3 d-flex align-items-center">
                    <div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-outline-primary shadow-sm me-2 d-none d-md-block mr-2">Sign In</a>
                            <a href="#" class="btn btn-primary d-none d-md-block me-2 me-lg-0">Sign Up</a>
                        </div>
                    </div>
                    <!-- Button -->
                    <button class="navbar-toggler collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbar-default"
                            aria-controls="navbar-default"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar top-bar mt-0"></span>
                        <span class="icon-bar middle-bar"></span>
                        <span class="icon-bar bottom-bar"></span>
                    </button>
                </div>
            </div>
        </nav>
        <div class="mb-3">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row align-items-center g-0 border-top py-2">
                <!-- Desc -->
                <div class="col-md-6 col-12 text-center text-md-start">
                    <span>
                        ©
                        <span id="copyright">
                            <script>
                                document.getElementById("copyright").appendChild(document.createTextNode(new Date().getFullYear()));
                            </script>
                        </span>
                        Geeks. All Rights Reserved.
                    </span>
                </div>
                <!-- Links -->
                <div class="col-12 col-md-6">
                    <nav class="nav nav-footer justify-content-center justify-content-md-end">
                        <a class="nav-link active ps-0" href="#!">Privacy</a>
                        <a class="nav-link" href="#!">Terms</a>
                        <a class="nav-link" href="#!">Feedback</a>
                        <a class="nav-link" href="#!">Support</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll top -->
    <div class="btn-scroll-top">
        <svg class="progress-square svg-content" width="100%" height="100%" viewBox="0 0 40 40">
            <path d="M8 1H32C35.866 1 39 4.13401 39 8V32C39 35.866 35.866 39 32 39H8C4.13401 39 1 35.866 1 32V8C1 4.13401 4.13401 1 8 1Z" />
        </svg>
    </div>
    <!-- Theme JS -->
    <script src="~/assets/js/theme.min.js"></script>

    <script src="~/assets/js/vendors/validation.js"></script>
    <script src="~/assets/libs/@@poppersjs/core/dist/umd/popper.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.min.js"></script>
</body>

</html>