@model KhalfiElection.Models.Models.FamilleModel

@{
    Layout = "_LayoutDashboard";
    ViewData["Title"] = "Création d'un pivot";
    var pivots = ViewBag.Pivot as List<KhalfiElection.Models.Entities.Personne>;
    pivots = pivots?.Select(c => new KhalfiElection.Models.Entities.Personne
            {
                PersonneId = c.PersonneId,
                Nom = c.Nom + " " + c.Prenom
            }).ToList() ?? new List<KhalfiElection.Models.Entities.Personne>();
}

<div class="card mb-4">
    <div style="display:flex;justify-content:space-between;">
        <div class="card-header">
            <h3 class="mb-0">Responsable </h3>
            <span>
                Création
            </span>
        </div>
        <div class="card-header">
            <a type="button" class="btn btn-primary" asp-controller="Famille" asp-action="Index">Retour</a>
        </div>
    </div>

    <div class="card-body">
        <!-- Form -->
        <form asp-action="CreateResponsable" method="post" class="form-row mt-3">
            <input type="hidden" asp-for="Personne.IsResponsable" class="form-control" value="true"/>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.Nom" class="control-label"></label>
                <input asp-for="Personne.Nom" class="form-control" />
                <span asp-validation-for="Personne.Nom" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.Prenom" class="control-label"></label>
                <input asp-for="Personne.Prenom" class="form-control" />
                <span asp-validation-for="Personne.Prenom" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.CIN" class="control-label"></label>
                <input asp-for="Personne.CIN" class="form-control" />
                <span asp-validation-for="Personne.CIN" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.DateNaissance" class="control-label">Date de naissance</label>
                <input asp-for="Personne.DateNaissance" class="form-control" type="date" />
                <span asp-validation-for="Personne.DateNaissance" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.Adresse" class="control-label"></label>
                <input asp-for="Personne.Adresse" class="form-control" />
                <span asp-validation-for="Personne.Adresse" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.GSM" class="control-label"></label>
                <input asp-for="Personne.GSM" class="form-control" />
                <span asp-validation-for="Personne.GSM" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.SecteurId" class="control-label">Secteur</label>
                <select asp-for="Personne.SecteurId" class="selectpicker" data-width="100%" data-live-search="true" asp-items="ViewBag.SecteurId">
                    <option value="" selected>--Secteur--</option>
                </select>
                <span asp-validation-for="Personne.SecteurId" class="text-danger"></span>
            </div>
            
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="Personne.PivotId" class="control-label">Pivot</label>
                <select asp-for="Personne.PivotId" class="selectpicker" data-width="100%" data-live-search="true" asp-items="@(new SelectList(pivots, "PersonneId", "Nom"))">
                    <option value="" selected>--Pivot--</option>
                </select>
                <span asp-validation-for="Personne.PivotId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 col-md-12 col-12 mb-2" style="text-align:right!important;">
                <button type="submit" class="btn btn-outline-info me-2">Créer</button>
            </div>

        </form>
    </div>
    @section Scripts {

        <script>

        </script>
    }
