@model Domain.Entities.V2.PersonneResponsable

@{
    Layout = "_LayoutDashboard2";
    ViewData["Title"] = "Édition d'un responsable de famille";


    var pivots = ViewBag.Pivot as List<Domain.Entities.V2.PersonnePivot>;
    pivots = pivots?.Select(c => new Domain.Entities.V2.PersonnePivot
            {
                PersonnePivotId = c.PersonnePivotId,
                Nom = c.Nom + " " + c.Prenom
            }).ToList() ?? new List<Domain.Entities.V2.PersonnePivot>();
}

<div class="card mb-4">
    <div style="display:flex;justify-content:space-between;">
        <div class="card-header">
            <h3 class="mb-0">Édition d'un responsable de famille</h3>
        </div>
        <div class="card-header">
            <a type="button" class="btn btn-primary" asp-controller="Famille" asp-action="Index">Retour</a>
        </div>
    </div>

    <div class="card-body">
        <!-- Form -->
        <form asp-action="EditResponsable" method="post" class="form-row mt-3">
            <div class="col-lg-6 mb-2">
                <label asp-for="Nom" class="control-label">Nom</label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="Prenom" class="control-label">Prénom</label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="CIN" class="control-label">CIN</label>
                <input asp-for="CIN" class="form-control" />
                <span asp-validation-for="CIN" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="DateNaissance" class="control-label">Date de naissance</label>
                <input asp-for="DateNaissance" class="form-control" type="date" />
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="Adresse" class="control-label">Adresse</label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="GSM" class="control-label">GSM</label>
                <input asp-for="GSM" class="form-control" />
                <span asp-validation-for="GSM" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2">
                <label asp-for="SecteurId" class="control-label">Secteur</label>
                <select asp-for="SecteurId" class="selectpicker" data-width="100%" data-live-search="true" asp-items="ViewBag.SecteurId">
                    <option value="" selected>--Secteur--</option>
                </select>
                <span asp-validation-for="SecteurId" class="text-danger"></span>
            </div>
            <div class="col-lg-6 mb-2 col-md-6 col-12">
                <label asp-for="PivotId" class="control-label">Pivot</label>
                <select asp-for="PivotId" class="selectpicker" data-width="100%" data-live-search="true" asp-items="ViewBag.Pivot">
                    <option value="" selected>--Pivot--</option>
                </select>
                <span asp-validation-for="PivotId" class="text-danger"></span>
            </div>
            <div class="col-lg-12 mb-2" style="text-align:right;">
                <button type="submit" class="btn btn-outline-info me-2">Enregistrer</button>
            </div>
        </form>
    </div>
</div>
